{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "rules": {
    "no-console": 0,
    "prettier/prettier": 2,
    "linebreak-style": [2, "unix"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
