/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

#Hatchery_Left {
    margin-top: 20px;
    float: left;
    width: 50%;
    text-align: left;
}

#Hatchery_Right {
    position: absolute;
    right: 0%;
    width: 50%;
    border-style: none none none solid;
}

/* css for hex grid already in beehive.css, so we piggy back off of that */
/* (we want them to look the same anyway, so any changes there will reflect here too) */

.BroodCell {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
