/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

#HoneyTable {
  margin: 20px;
  table-layout: fixed;
  width: 100px;
}

.honeytd {
  width: 150px;
  text-align: left;
  overflow: hidden;
  table-layout: fixed;
}
