/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.imageText {
  position: absolute;
  top: 25%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 100%;
}

.imageTextAmount {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.BLANK {
  display: none;
}

.backgroundHex {
  width: 100%;
  height: 100%;
  background-color: #f0d264;
}

.backgroundHex:hover {
  width: 100%;
  height: 100%;
  background-color: #cb99c5;
}
