/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* Generic state for button */
button {
  margin: 9px;
  background-color: #cb99c5;
  color: white; /* Color of text displayed */
  border-radius: 10px; /* Makes button rounded */
  padding: 15px 25px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom-color: rgba(0, 0, 0, 0.34);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

/* Active state for button */
button:active {
  top: 1px;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
  position: relative;
  box-shadow: 0 0 #ba8cb5;
  background-color: #ba8cb5;
}

/* Disabled state for button */
button:disabled {
  top: 1px;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
  position: relative;
  box-shadow: 0 0 #696569;
  background-color: #4b444a;
  color: black; /* color of text */
}

/* Potiental colors for different buttons */
.color .red {
  background: #fa5a5a;
}
.color .yellow {
  background: #f0d264;
}
.color .green {
  background: #82c8a0;
}
.color .cyan {
  background: #7fccde;
}
.color .blue {
  background: #6698cb;
}
.color .purple {
  background: #cb99c5;
}

/* Potiental sizes for different buttons */
.btn.large {
  padding: 20px 40px;
  font-size: 22px;
}
.btn.small {
  padding: 8px 18px;
  font-size: 14px;
}
.btn.mini {
  padding: 4px 12px;
  font-size: 12px;
}
.btn.block {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Colors for active buttons */
.btn.blue {
  box-shadow: 0px 4px #74a3b0;
}
.btn.blue:active {
  box-shadow: 0 0 #74a3b0;
  background-color: #709ca8;
}

.btn.green {
  box-shadow: 0px 4px 0px #87a86f;
}
.btn.green:active {
  box-shadow: 0 0 #87a86f;
  background-color: #87a86f;
}

.btn.red {
  box-shadow: 0px 4px 0px #e04342;
}
.btn.red:active {
  box-shadow: 0 0 #ff4c4b;
  background-color: #ff4c4b;
}

.btn.purple {
  box-shadow: 0px 4px 0px #ad83a8;
}
.btn.purple:active {
  box-shadow: 0 0 #ba8cb5;
  background-color: #ba8cb5;
}

.btn.cyan {
  box-shadow: 0px 4px 0px #73b9c9;
}
.btn.cyan:active {
  box-shadow: 0 0 #73b9c9;
  background-color: #70b4c4;
}

.btn.yellow {
  box-shadow: 0px 4px 0px #d1b757;
}
.btn.yellow:active {
  box-shadow: 0 0 #ff4c4b;
  background-color: #d6bb59;
}

/* Button reference */
.btn {
  color: white;
  padding: 15px 25px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom-color: rgba(0, 0, 0, 0.34);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
}
.btn:active {
  top: 1px;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
  position: relative;
}
